# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [1]:
# imports and load data
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline 

store_df = pd.read_csv('store_data.csv')
store_df.head()

         week  storeA  storeB  storeC  storeD  storeE
0  2014-05-04    2643    8257    3893    6231    1294
1  2014-05-11    6444    5736    5634    7092    2907
2  2014-05-18    9646    2552    4253    5447    4736
3  2014-05-25    5960   10740    8264    6063     949
4  2014-06-01    7412    7374    3208    3985    3023

In [2]:
# explore data
store_df.describe()

             storeA        storeB       storeC       storeD       storeE
count    200.000000    200.000000   200.000000   200.000000   200.000000
mean    5865.480000   6756.710000  4942.105000  5431.405000  2580.025000
std     2958.230318   3601.339489  1325.407768  1183.111323  1725.651381
min      137.000000     14.000000   927.000000  2276.000000    39.000000
25%     3812.250000   3884.500000  4053.500000  4717.000000  1235.000000
50%     5713.500000   6771.000000  4962.500000  5382.000000  2522.000000
75%     7662.250000   9350.500000  5801.750000  6243.750000  3574.250000
max    14403.000000  15841.000000  8293.000000  8190.000000  7553.000000

In [3]:
store_df.shape

(200, 6)

In [8]:
store_df.tail()

           week  storeA  storeB  storeC  storeD  storeE
195  2018-01-28     282    6351    7759    5558    1028
196  2018-02-04    4853    6503    4187    5956    1458
197  2018-02-11    9202    3677    4540    6186     243
198  2018-02-18    3512    7511    4151    5596    3501
199  2018-02-25    7560    6904    3569    5045    2585

In [9]:
# total sales for the last month
lastmonth = store_df[store_df['week'] >= '2018-02-04']
lastmonth.iloc[:, 1:].sum()

storeA    25127
storeB    24595
storeC    16447
storeD    22783
storeE     7787
dtype: int64

In [10]:
# average sales

store_df.iloc[:, 1:].mean()

storeA    5865.480
storeB    6756.710
storeC    4942.105
storeD    5431.405
storeE    2580.025
dtype: float64

In [11]:
# sales on march 13, 2016
store_df[store_df['week'] == '2016-03-13'].sum()

week      2016-03-13
storeA          2054
storeB          1390
storeC          5112
storeD          5513
storeE          2536
dtype: object

In [12]:
# worst week for store C
store_df[store_df['storeC'] == store_df['storeC'].min()]

         week  storeA  storeB  storeC  storeD  storeE
9  2014-07-06    8567    3228     927    3277     168

In [13]:
store_df['week']

0      2014-05-04
1      2014-05-11
2      2014-05-18
3      2014-05-25
4      2014-06-01
5      2014-06-08
6      2014-06-15
7      2014-06-22
8      2014-06-29
9      2014-07-06
10     2014-07-13
11     2014-07-20
12     2014-07-27
13     2014-08-03
14     2014-08-10
15     2014-08-17
16     2014-08-24
17     2014-08-31
18     2014-09-07
19     2014-09-14
20     2014-09-21
21     2014-09-28
22     2014-10-05
23     2014-10-12
24     2014-10-19
25     2014-10-26
26     2014-11-02
27     2014-11-09
28     2014-11-16
29     2014-11-23
          ...
170    2017-08-06
171    2017-08-13
172    2017-08-20
173    2017-08-27
174    2017-09-03
175    2017-09-10
176    2017-09-17
177    2017-09-24
178    2017-10-01
179    2017-10-08
180    2017-10-15
181    2017-10-22
182    2017-10-29
183    2017-11-05
184    2017-11-12
185    2017-11-19
186    2017-11-26
187    2017-12-03
188    2017-12-10
189    2017-12-17
190    2017-12-24
191    2017-12-31
192    2018-01-07
193    2018-01-14
194    2018-01-21
195    2018-01-28
196    2018-02-04
197    2018-02-11
198    2018-02-18
199    2018-02-25
Name: week, Length: 200, dtype: object

In [14]:
# total sales during most recent 3 month period
store_df[store_df['week'] >= '2017-12-03'].sum()

week      2017-12-032017-12-102017-12-172017-12-242017-1...
storeA                                                87591
storeB                                                79394
storeC                                                66538
storeD                                                75190
storeE                                                27334
dtype: object